/* a {
    background-color: black;
    color: #ffffff;
    padding: 3px;
    text-decoration: none;
    margin: 1px;
    border: 1px solid blue;
} */

/* div {
    color: rgb(0, 150, 30)
} */
a, a:hover {
    color: #333;
    text-decoration: none;
}

.button {
    background-color: #aa0404; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.button1 {border-radius: 8px;}