{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
    <h1>{{ shorts.name }}</h1>
    {% if shorts.author %}
        <h2>Автор:
            <a href="{% url 'profile-detail' shorts.author.profile.id %}">
                {{ shorts.author.username }} 
            </a>
        </h2>
    {% endif %}
    <h3>Лайков: {{ shorts.likes }}</h2>
    <h3>Просмотры: {{ shorts.shortsview_set.count }}</h2>
    <h3>Просмотрено пользователями:</h3>
    {% if request.user == shorts.author %}
        {% for view in shorts.shortsview_set.all %}
            <div> 
                {{ view.user.username }}
            </div>
        {% endfor %}
    {% endif %}
    <hr>
    <p>
        <video width="500" controls src="{{ shorts.file_path.url }}">
        </video>
    </p>
    {% if request.user == shorts.author %}
        <a href="{% url 'shorts-update' shorts.id %}" class="btn btn-warning">Изменить</a>
        <a href="{% url 'shorts-delete' shorts.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}
    
    {% if request.user.is_authenticated %}
        <div class="likes-block">
            {% if request.user in shorts.like.all %}
            <form method="POST">
                {% csrf_token %}
                <button name="like_r">
                    <span>
                        <img height="20px" src="{% static 'like.svg' %}" alt="">
                        {{ shorts.like.count }}
                    </span>
                </button>
            </form>
            {% else %}
            <form method="POST">
                {% csrf_token %}
                <button name="like">
                    <span>
                        <img height="20px" src="{% static 'like.svg' %}" alt="">
                        {{ shorts.like.count }}
                    </span>
                </button>
            </form>
            {% endif %}
            {% if request.user in shorts.dislike.all %}
                <form method="POST">
                    {% csrf_token %}
                    <button name="dislike_r">
                        <span>
                            <img height="20px" src="{% static 'dislike.svg' %}" alt="">
                            {{ shorts.dislike.count }}
                        </span>
                    </button>
                </form>
                {% else %}
                <form method="POST">
                    {% csrf_token %}
                    <button name="dislike">
                        <span>
                            <img height="20px" src="{% static 'dislike.svg' %}" alt="">
                            {{ shorts.dislike.count }}
                        </span>
                    </button>
                </form>
            {% endif %}
        </div>
    {% endif %}
    <hr>
    <h2>Комментарии</h2>
    {% if request.user.is_authenticated %}
        <p>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form shcomment_form %}
                {% if shcomment_form.errors %}
                    <div class="alert alert-danger">
                        {{ shcomment_form.errors }}
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-primary">Добавить комментарий</button>
            </form>
        </p>
    {% endif %}
    {% for comment in shorts.shcomment_set.all %}
        <div class="card mb-3">
            <div class="card-header">
                <span class="font-weight-bold">{{ comment.user.username }}</span>
                <span class="text-muted">{{ comment.created_by|date:"F d, Y H:i" }}</span>
            </div>
            <div class="card-body">
                <p class="card-text">{{ comment.txt }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}