{% extends 'base.html' %}

{% block content %}
    <h1>Все видео</h1>
    {% for video in videos_list %}
        <div class="container mt-3">
            <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/video/{{ video.id }}/">{{ video.name }}</a>
                <span class="badge bg-primary rounded-pill">Лайков: {{ video.likes }}</span>
            </li>
            </ul>
        </div>
        <!-- <div class="container mt-3">
            <ol class="list-group list-group-numbered">
                <li class="list-group-item">
                    <a href="/video/{{ video.id }}/">{{ video.name }}</a>
                    <span class="badge bg-primary rounded-pill">Лайков: {{ video.likes }}</span>
                </li>
            </ol>
        </div> -->
    {% endfor %}
{% endblock %}